.highlight {
    color: #4A8CF7;
}

.advanced > .title{
    display: flex;
}

.advanced >.title >h1{
    margin: 0 4px;
}

.advanced { 
    height: 90vh;
    padding: 10vh;
    display: flex;
    flex-direction: column;
}

.advanced > form{
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.advanced > form> p {
    margin: 2vh 0;
}

.advanced > form > input[type=submit]{
    background-color: #4A8CF7;
    color: white;
    font-weight: bold;
}

.advanced > form > input[type=submit]:hover{
    background-color: #1D5ABD;
    cursor: pointer;
}

.advanced > form > input{ 
  padding: 10px;
  height: 7vh;
  width: 40vw;
  box-shadow: none;
  border: none;
  margin: 5px;
  border-radius: 5px;
}

.button-50 {
    background-color: #4A8CF7;
    background-image: none;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: 1px solid #4A8CF7;
    border-radius: 4px;
    color: #1D1D1D;
    box-shadow: #fff 4px 4px 0 0,#4A8CF7 4px 4px 0 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    overflow: visible;
    padding: 12px 2px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
    background-color: #4A8CF7;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  
  @media (max-width: 1100px) {
  
    .advanced >.title >h1{
      font-size: 2.5vh;
      margin: 0 10px;
  }

    .advanced > form > input{ 
    width: 70vw;
    font-size: 1.5vh;
    margin: 50px;
  }

  .advanced{
    padding: 2vh;
  }

  
} 