.main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: #3AAB58;
}

.main > .title {
    display: flex; 
}

.main >.title >h1{
    margin: 0 4px;
}

.main > form{
    padding: 8vh 0;
    display: flex;
    flex-direction: column;
}

.main > form > i {
    margin: 5px;
    padding: 20px;
    color: #1D1D1D;
}


.main > span{
    margin: 2vh 30px;
    font-size: 60px;
}

.main > p {
    display: flex;
    justify-content: center;
    padding: 0 0 0 200px;
}


.button-50 {
    background-color: #3AAB58;
    background-image: none;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: 1px solid #3AAB58;
    border-radius: 4px;
    color: #1D1D1D;
    box-shadow: #fff 4px 4px 0 0,#3AAB58 4px 4px 0 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    overflow: visible;
    padding: 12px 2px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
.button-50:focus {
    text-decoration: none;
  }
  
.button-50:hover {
    text-decoration: none;
    background-color: #148030;
  }
  
.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

.main > form > input[type=text] {
    padding: 15px;
}

.main > form > input[type=submit]{
    background-color: #3AAB58;
    font-weight: bold;
}

.main > form > input[type=submit]:hover{
    background-color: #148030;
    cursor: pointer;
}

.main > form > input{ 
    padding: 10px;
    height: 7vh;
    width: 35vw;
    box-shadow: none;
    border: none;
    margin: 5px;
    border-radius: 50px;
}

@media (max-width: 1100px) {
    
    .main >.title >h1{
        font-size: 3vh;
        margin: 0 5px;
    }

    
    .main > form > input{ 
    width: 70vw;
    font-size: 1.5vh;
    margin: 50px;
}

    
}