.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: white;
}

.main > .title {
    display: flex; 
}

.main >.title >h1{
    margin: 0 4px;
    font-size: 10vh;
}

.main > form{
    padding: 8vh 0;
    display: flex;
    flex-direction: column;
}

.main > form > i {
    margin: 5px;
    padding: 20px;
    color: #1D1D1D;
}

.main > span{
    margin: 2vh 30px;
    font-size: 60px;
}

.main > p {
    display: flex;
    justify-content: center;
    padding: 0 0 0 200px;
}

.main > form > input[type=text] {
    padding: 15px;
}


.main > form > .btns > input[type=submit]:hover{
    outline: 1.5px solid #5F6368;
    cursor: pointer;
}

.main > form > input[type="text"]{ 
    padding: 10px;
    height: 7vh;
    width: 35vw;
    box-shadow: none;
    border: none;
    margin: 5px;
    border-radius: 50px;
}
.main > form > input[type="text"]:hover{
    background-color: #303134;
}

.main > form > .btns > input[type="submit"]{ 
    padding: 0.3vw;
    background-color: #303134;
    height: 7vh;
    width: 45%; 
    box-shadow: none;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.btns{
    display: flex;
    justify-content: center;
}


.main > .title{
    display: flex;
    flex-direction: column;
}

.main > .title > p{
    align-self: flex-end;
    color: #4487D5;
}

@media (max-width: 1100px) {
    .main >.title >h1{
        font-size: 6.5vh;
        margin: 0 5px;
    }
        .main > form > input[type="text"]{ 
        width: 70vw;
        font-size: 1.5vh;
        margin: 50px;
        }

    .main > form > .btns > input[type="submit"]{
        width: 20vw;
        font-size: 16px;
    }

}